# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
